{% extends "base.html" %}

{% block content %}
    <div align="center">
        <h1>Добавить книгу</h1>
        <form action="" method="post" novalidate enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name }}<br>
                {% for error in form.name.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.author.label }}<br>
                {{ form.author }}<br>
                {% for error in form.author.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.count_all_books.label }}<br>
                {{ form.count_all_books }}<br>
                {% for error in form.count_all_books.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p align="center">
                {{ form.icon.label }}<br>
                {{ form.icon(class_='button') }}<br>
                {% for error in form.icon.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description }}<br>
                {% for error in form.description.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}
