{% extends "base.html" %}

{% block content %}
  <h3 align="center">Список книг в библиотеке</h3>
  <ul class="list-unstyled">
    {% for book in books %}
      <li class="media">
        <img src="{{ book.icon }}" class="mr-3" alt="Изображение отсутствует">
        <div class="media-body">
          <a class="mt-0 mb-1" href="/books/{{ book.name }}">{{ book.name }} {{ book.author }}</a>
            <p>{{ book.description }}</p>
          {% if session['username'] %}
            <a href="/books/{{ book.id }}/{{ session['user_id'] }}" class="btn btn-warning">Заказать</a>
          {% endif %}
        </div>
      </li>
      <p></p>
    {% endfor %}
  </ul>
{% endblock %}
