{% extends "base.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h5 class="display-4" align="left">Наша библиотека</h5>
          <p align="left">Приветствуем вас на сайте нашей библиотеке. Здесь вы можете забронировать книгу, не выходя из дома, а также оставить отзыв.</p>
          <img alt="Изображение отсутствует" src=static\lib_photo.png class="rounded mx-auto d-block">
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          {% for book in new_books %}
              <div class="col-md-4">
                <h5>{{ book.name }}</h5>
                <p>{{ book.description }}</p>
                <p><a class="btn btn-secondary" href="#" role="button">Узнать больше »</a></p>
              </div>
          {% endfor %}
        </div>
      </div> <!-- /container -->
{% endblock %}
